*{
  margin: 0;
  padding: 0;
  font-family:'Space mono', sans-serif;

  --strong-cyan:hsl(172,67%,45%);
  --very-dark-cyan:hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  
}

body{
  background:var(--strong-cyan);
}

.container{
  background: var(--White);
  max-width: 45rem;
  min-width: 23rem;
  height:22rem;
  margin: 10rem auto auto ;
  border-radius:1rem;
  display:grid;
  grid-template-columns:2;
  grid-template-rows:3;
}

.container--bill{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top:2rem;
 
 
}
.container--bill input{
  width:17.8rem;
  height: 1.8rem;
  background: var(--light-grayish-cyan2);
  border-style:none;
}


.container--tips{
  grid-column-start:1;
  grid-column-end:1;
  display: flex;
  align-items:center;
  justify-content:center;
}
.container--tips input{
  width:5.5rem;
  height: 2.5rem;
  margin:0.2rem auto 0.2rem auto;
  border-radius:4px;
  background: var(--very-dark-cyan);
  color:white;
}

.container--quantyperson{
grid-column-start:1;
grid-column-end:1;
grid-row-start:3;
grid-row-end:4;
display: flex;
align-items:center;
justify-content:center;
margin-bottom:2rem;

}
.container--quantyperson input{
  width:17.8rem;
  height: 1.8rem;
  background: var(--light-grayish-cyan2);
  border-style: none;
}
.style-span{
  display: block;
}



.container--results{
  background:var(--very-dark-cyan);
  max-width: 25rem;
  min-width: 19rem;
  height: 18rem;
  border-radius: 1rem;
  grid-column-start:2;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:4;
  margin:2rem auto 2rem auto;

}